body {
    margin: 0:
    front-family: Arial, sans-serif
}

header {
    background-color: #007bff; /* banner color */
    color: black;
    padding: 20px:
}

.banner h1 {
    margin: 0;
    front-size: 24px;
}

nav u1 l1 {
    list-style-type: none;
    transistion: color 0.3s ease; /* link animation */
}

nav u1 l1 a {
    display:inline;
    margin-right:20px;
}
nav u1 l1 a:hover {
    color: #ffc107; /* change link color on hover */
}

section {
    padding:20px;
}
footer {
    background-colour: #faf9f8;
    padding: 20px;
    text-align:context;
}
